.ui-audioplayer-body {
	display: flex;
	align-items: center;
	column-gap: 0.6em;
}
.ui-audioplayer-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.ui-audioplayer-bot {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ui-audioplayer-time {
	font-size: 0.74rem;
	display: flex;
	column-gap: 0.5em;
}
.ui-audioplayer-timeline {
	width: 300px;
	.ui-range {
		width: 100%;
		padding: 0;
		margin: 0;
	}
}
.ui-audioplayer-volume {
	width: 70px;
	display: flex;
	align-items: center;
	.ui-range {
		font-size: 0.8em;
		width: 100%;
	}
}
.ui-audioplayer-playbtn {
	width: 2em;
	height: 2em;
	color: var(--colorBaseTwo);
	border-width: 1px;
	border-style: solid;
	border-color: var(--colorPrimary);
	border-radius: 50%;
	background: var(--colorPrimary);
	display: flex;
	align-items: center;
	justify-content: center;
	.fa-play {
		translate: 0.1em;
	}
}